* {
    image-rendering: auto;
    margin: 0;
    text-align: left;
    padding: 0;
    white-space: nowrap;
    user-select: none;
    -webkit-user-drag: none;
}

html,
body {
    height: 100%;
    background: url(../src/models/xccas.png) black;
    background-blend-mode: luminosity;
    image-rendering: pixelated;
    background-size: 90px;
}

img {}

#game-map {
    display: table;
    width: 800px;
    height: 400px;
    /* overflow: hidden; */
    border-radius: 12px;
    image-rendering: pixelated;
}

#game-map,
tr,
td {
    border-collapse: collapse;
}

#game-map td * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    image-rendering: pixelated;
    height: 100%;
}

#game-map [unit="hero"]{
    background: url(../src/models/hero.png);
}

#game-map [unit="creep"]{
    background: url(../src/models/monster.png);
}

#game-map [unit="bomb"]{
    background: url(../src/models/bomb.png);
}

#game-map [unit]{
    background-size:cover;
}

#game-map [user]{
    background-blend-mode: luminosity;
    mask-image: url(../src/models/hero.png);
    mask-mode: alpha;
    mask-size: cover;
    -webkit-mask-image: url(../src/models/hero.png);
    -webkit-mask-mode: alpha;
    -webkit-mask-size: cover;
}

#game-map [user="0"]{
    background-color:#ffffff;
}
#game-map [user="1"]{
    background-color:#490054;
}
#game-map [user="2"]{
    background-color:#005d28;
}
#game-map [user="3"]{
    background-color:#00234a;
}

#game-map [rotate]:after{
    position:absolute;
    font-family:sans-serif;
    font-weight:bold;
    font-size:35px;
    color:#1c1c1c
    -webkit-mask-image: none;
    mask: none !important;
}

#game-map [rotate="right"]:after{
    content:'>';
    right:2px;
    top:16px;
}

#game-map [rotate="top"]:after{
    content:'^';
    left:23px;
    top:0;
}

#game-map [rotate="left"]:after{
    content:'<';
    left:0;
    top:16px;
}

#game-map [rotate="bottom"]:after{
    content:'v';
    left:23px;
    bottom:0;
}



td {
    position: relative;
}

#content {
    display: none;
    width: 1150px;
    margin: 0 auto;
    text-align: center;
}

#left-block {
    margin-top: 1em;
    display: inline-block;
    width: 930px;
}

#map {
    position: relative;
    display: inline-block;
    width: 800px;
    height: 400px;
}

#trackers {
    vertical-align: top;
    align-content: center;
    height: 400px;
    display: inline-block;
}

#kill-tracker #bomb-tracker #clock {
    margin-block: 1em;
    display: block;
    width: 120px;
}

#kill-tracker {
    height: 127px;
    width: 120px;
    background-color: #ec453c;
}

#skull-icon {
    position: relative;
    top: 5px;
    margin: 0 auto;
    background-image: url("../src/models/tmp files/skull.png");
    background-size: contain;
    height: 66px;
    width: 66px;
    background-repeat: no-repeat;
}

#kills {
    height: 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-size: 55px;
}

#bomb-tracker {
    height: 127px;
    width: 120px;
    background-color: #72dc7f;
    margin-top: 0.5em;
}

#bomb-icon {
    position: relative;
    background-size: contain;
    margin: 0 auto;
    top: 5px;
    left: 0px;
    height: 66px;
    width: 66px;
    background-image: url("../src/models/tmp files/bomb_icon.png");
}

#hp-bomb {
    height: 40px;
    text-align: center;
    font-style: normal;
    font-size: 55px;
}

#clock {
    margin-top: 0.5em;
    background-color: #efede3;
    height: 130px;
}

#pic-clock {
    position: relative;
    background-size: contain;
    margin: 0 auto;
    top: 5px;
    left: 0px;
    height: 66px;
    width: 66px;
    background-image: url("../src/models/tmp files/clock.png");
}

#timer {
    height: 40px;
    text-align: center;
    font-style: normal;
    font-size: 48px;
}

#kills,
#hp-bomb,
#timer,
.hand-counter,
#connect-room,
#create-coom {
    font-family: sans-serif;
}

#hand-content {
    margin-top: 1em;
    position: absolute;
    display: inline-block;
    height: 597px;
    border-radius: 12px 12px 0 0;
    /* overflow: hidden; */
    width: 220px;
}

#footer {
    display: block;
    margin-top: 0.5em;
    width: 1150px;
}

.hand-counter {
    text-align: center;
    font-size: 50px;
    position: absolute;
    bottom: -15px;
    color: #d7d7d7;
    width: 100%;
}

#hand-board {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 220px;
    height: 550px;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

#current-card {
    visibility: hidden;
    position: relative;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(2, 3, 4, 0.5);
    top: -41px;
    width: 120px;
}

#card-field {
    vertical-align: top;
    display: inline-block;
    background-image: url("../src/models/card_field_texture.png");
    background-size: 30%;
    background-color: #8593ae;
    height: 184px;
    width: 99.3%;
    border-radius: 12px 12px 0 0;
    z-index: 1;
}

#user-icon {
    vertical-align: top;
    z-index: 2;
    display: inline-block;
    background-image: url("../favicon.png");
    background-size: cover;
    margin: 6px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}

.number-1-icon,
.number-2-icon,
.number-3-icon,
.number-4-icon,
.number-5-icon,
.number-6-icon {
    position: absolute;
    left: 35px;
    bottom: -24px;
    width: 50px;
    height: 50px;
    z-index: 6;
}

.number-1-icon {
    background-image: url("../src/models/numbers/one_number.svg");
}

.number-2-icon {
    background-image: url("../src/models/numbers/two_number.svg");
}

.number-3-icon {
    background-image: url("../src/models/numbers/three_number.svg");
}

.number-4-icon {
    background-image: url("../src/models/numbers/four_number.svg");
}

.number-5-icon {
    background-image: url("../src/models/numbers/five_number.svg");
}

.number-6-icon {
    background-image: url("../src/models/numbers/six_number.svg");
}

.stack {
    display: inline-block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 1px;
    height: 182px;
    width: 125px;
    z-index: 2;
}

.down-card {
    position: relative;
    float: top;
}

.middle-card {
    position: relative;
    float: top;
    bottom: 74%;
}

.top-card {
    position: relative;
    float: top;
    bottom: 148%;
}

.down-card img {
    height: 85%;
}

.middle-card img {
    height: 85%;
}

.top-card img {
    height: 85%;
}

#footer_footer {
    height: 20px;
    width: 1150px;
    border-radius: 0 0 12px 12px;
}

.lobby {
    width: 1200px;
    height: 700px;
    text-align: center;
    padding: 0;
    border-radius: 10px;
    color: #1d1d1d;
    background-color: #3a3c3ff7;
    margin: auto;
    margin-top: 10px;
}

#welcome {
    display: block;
    position: relative;
    top: 208px;
    /* text-align: center; */
    font-size: 75px;
    color: #efefef;
    text-align: center;
    /* padding-bottom: 0px; */
}

#rooms {
    display: block;
    position: relative;
    display: none;
    text-align: center;
}

#title-list-rooms,
#title-room-description {
    font-family: sans-serif;
    font-size: 50pt;
    text-align: center;
    color: #edecec;
    background-color: rgba(0, 0, 0, 0.23);
    display: block;
    border-radius: 40px 40px 0 0;
}

#title-room-description {
    position: relative;
}

.lobby-left-block,
.lobby-right-block {
    padding: 1em 1em 1em 1em
}

.lobby-left-block {
    position: relative;
    display: inline-block;
    width: 600px;
    height: 550px;
    left: -40px;
}

.lobby-right-block {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 600px;
    top: -100px;
}

#list-rooms {
    position: relative;
    display: block;
    background-color: #ededed;
    width: auto;
    height: 64%;
	overflow-y: auto;
    width: 700px;
}
.footer-list{
	width: auto;
	height: 35px;
	background-color: #ededed;
	border-radius: 0 0 40px 40px;
}

#create-room {
    position: relative;
    margin-top: 59px;
    background: #99a1de;
}

#room-description {
    position: relative;
    width: 400px;
    height: 70%;
    background-color: #ededed;
    border-radius: 0 0 40px 40px;
	font-family: sans-serif;
	font-size: 16pt;
}

.span-dis{
	padding-top: 10px;
	padding-left: 20px;
	position: relative;
	display: block;
}

#room {
    position: relative;
    width: 1200px;
    height: 800px;
    display: none;
}

#room-left-block {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 700px;
}

#room-right-block {
    display: inline-block;
    position: relative;
    width: 300px;
    outline: red;
    text-align: center;
}

#players-list {
    position: relative;
    width: auto;
    border-radius: 5px;
    background: #e9ecee;
    padding: 10px;
}

#room-chat {
    position: relative;
    width: auto;
    height: 350px;
    background: #232527;
    border-radius: 5px;
}

#room-left-block,
#room-right-block,
#players-list,
#room-chat {
    margin: 1em 1em 1em;
}

.player-spot {
    width: 100%;
    display: block;
    font-family: sans-serif;
    margin: 0;
    font-size: 25pt;
    padding: 3px;
    border-bottom: 1px solid #888888;
}

.current-color {
    position: relative;
    left: 200px;
    display: inline-block;
    width: 50px;
    height: 20px;
    background-color: white;
}

.player-spot,
.player-spot-color {
    position: relative;
}

.palette {
    display: none;
    position: relative;
    top: 21px;
    width: 20px;
    height: 126px;
    background-color: white;
}

.lobby button {
    border: none;
    background: #ecedef;
    color: #1b3043;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

#play-game {
    font-family: sans-serif;
    text-align: center;
    font-size: 30pt;
    position: relative;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    display: inline-block;
    background: #72cf6e !important;
    top: 430px;
	left: 70px;
}

#go-lobby{
	font-family: sans-serif;
    text-align: center;
    font-size: 30pt;
    position: relative;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    display: inline-block;
    background: #ff4848 !important;
    top: 530px;
	left: -100px;
}

#game-map tbody tr {
    position: relative;
}


#message {
    font-size: 40pt;
    color: white;
    text-align: center;
    transition: opacity 0.4s ease 0s;
    opacity: 0;
}


.noActive {
    color: #5f8468;
    border: 1px solid #606d61;
    cursor: auto;
}

#win-or-defeat {
    position: absolute;
    display: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 3, 4, 0.5);
    top: 0px;
    left: 0px;
    z-index: 11;
}

div#hand-content,
#footer_footer {
    background-color: #454545;
    background: #414141;
    background-size: 90px;
    image-rendering: pixelated;
}

div#trackers>div {
    border-radius: 12px;
}

.selected-card {
    box-shadow: 0 0 3pt 2pt #4aff60;
}

.stack img:nth-child(2) {
    margin-top: -100%
}

.stack img:nth-child(3) {
    margin-top: -100%
}

.stack img:nth-child(4) {
    margin-top: -100%
}

.stack-content {
    width: 100%;
    height: 100%;
}

.stack-content>img,
#hand-board>img {
    width: 100%;
    display: block;
}

.move-cell img {
    outline: 5px solid #ecec56;
    outline-offset: -5px;
}

.attack-cell img {
    outline: 5px solid #fff;
    outline-offset: -5px;
}

.rotate-cell img {
    outline: 5px solid #000;
    outline-offset: -5px;
}

.noDisplay {
    display: none !important;
}

.help-cell img {
    /* outline: 5px solid chartreuse; */
    /* outline-offset: -5px; */
}

.escape {
    display: inline-block;
    height: 181px;
    width: 35px;
    margin-bottom: 1px;
    margin-left: 1px;
}

.trash {
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    height: 90px;
    width: 100%;
    margin-bottom: 3px;
    border-top-right-radius: 10px;
}

.effect {
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    height: 88px;
    width: 100%;
}

.weMessage {
    display: inline-block;
    color: #f3f3f4;
}

.loginButton {
    text-align: center;
    padding-bottom: 50px;
}

#connect-room {
    background: #a1c7e8;
    margin-top: 60px;
}

.connect-room {
    background: antiquewhite;
}

#room {
    position: relative;
    width: 1200px;
    height: 800px;
    display: none;
}

#room-left-block,
#room-right-block,
#players-list,
#room-chat {
    margin: 1em 1em 1em;
}

.player-spot,
.player-spot-color {
    position: relative;
}

.palette {
    display: none;
    position: relative;
    top: 21px;
    width: 20px;
    height: 126px;
    background-color: white;
}

#play-game {
    font-family: sans-serif;
    text-align: center;
    font-size: 30pt;
}

#game-map tbody tr {
    position: relative;
}

#choose-board,
#message {
    display: inline-block;
    align-self: center;
    position: relative;
    margin: 0 auto;
    margin-top: -400px;
    transition: opacity 0.4s ease 0s;
    border-radius: 12px;
    bottom: 300px;
    background-color: rgba(2, 3, 4, 0.5);
    z-index: 12;
    box-shadow: 0 0 24px 30px rgba(0, 0, 0, 0.5);

}

#choose-board{
    opacity: .1;
}
#choose-board:hover{
    opacity: 1;
}

#choose-board:hover .ok-choose{
    opacity:.3;
}
.ok-choose{
    transition: opacity .2s;
}

.desk:hover .ok-choose{
     opacity:1 !important;
}

#desk-card img{
    transition:transform .2s;
}

#desk-card img:hover{
    transform: scale(2.3);
}

.desk *{
    z-index: 0;
}
.desk{
    padding:14px 0;
}


#message {
    font-size: 40pt;
    color: white;
    text-align: center;
    transition: opacity 0.4s ease 0s;
    opacity: 0;
}

#desk-card img {
    /* margin-top: 2em; */
    margin-left: 0.33em;
    display: inline-block;
    width: 104px;
    height: 124px;
}

.urls {
	font-size: 18pt;
	width: auto;
	text-align: center;
	padding: 20px 0;
	color: #a2cbef;
}


.ok-choose {
    display: block;
    position: relative;
    text-align: center;
    background-color: #ffffff00;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16pt;
    border: 1px solid #91e696;
    border-radius: 10px;
    color: #60ea7f;
    padding: 5px 20px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color .2s, color .2s;
    background-color:#60ea7f57;
}
.ok-choose:not(.noActive):hover{
    opacity:1;
    border: 1px solid #464646;
    border-radius: 10px;
    color: #3a3a3a;
    background-color:#60ea7f;
}

.noActive {
    color: #5f8468;
    border: 1px solid #606d61;
    cursor: auto;
    background-color:#00000000;
}

#win-or-defeat {
    position: absolute;
    display: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 3, 4, 0.5);
    top: 0px;
    left: 0px;
    z-index: 11;
}

div#hand-content,
#footer_footer {
    background-color: #454545;
    background: #3a3b3bfa;
    background-size: 90px;
    image-rendering: pixelated;
}

div#trackers>div {
    border-radius: 12px;
}

.selected-card {
    box-shadow: 0 0 3pt 2pt #4aff60;
}

.stack img:nth-child(2) {
    margin-top: -100%
}

.stack img:nth-child(3) {
    margin-top: -100%
}

.stack img:nth-child(4) {
    margin-top: -100%
}

.stack-content {
    width: 100%;
    height: 100%;
}

.stack-content>img,
#hand-board>img {
    width: 100%;
    display: block;
}

.move-cell img {
    outline: 5px solid #ecec56;
    outline-offset: -5px;
}

.attack-cell img {
    outline: 5px solid #fff;
    outline-offset: -5px;
}

.rotate-cell img {
    outline: 5px solid #000;
    outline-offset: -5px;
}

.noDisplay {
    display: none !important;
}

.help-cell img:nth-child(1) {
    outline: 5px solid chartreuse;
    outline-offset: -5px;
    transition: box-shadow .3s;
}

.help-cell:hover img:nth-child(1) {
    box-shadow: 0 0 2px 3px rgb(127, 255, 0);
}
.help-cell img:nth-child(2) {
    transition: transform .3s;
}

.help-cell:hover img:nth-child(2) {
    transform:scale(1.1)

}
.help-cell:hover{
    z-index:999;
}

.escape {
    display: inline-block;
    height: 181px;
    width: 35px;
    margin-bottom: 1px;
    margin-left: 1px;
}

.trash {
    display: none;
    background-color: rgba(255, 21, 21, 0.6);
    height: 90px;
    width: 100%;
    margin-bottom: 3px;
    border-top-right-radius: 10px;
    background-image: url("../src/trash.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}

.effect {
    display: none;
    background-color: rgba(58, 255, 0, 0.6);
    height: 88px;
    width: 100%;
    background-image: url("../src/models/discard-with-effect.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}

.stack img {
    transition: transform .3s;
}

.stack:hover img {
    transform: scale(2);
    z-index: 999;
}

[class^='number-'] {
    transition: opacity .3s;
}

.stack:hover [class^='number-'] {
    opacity: 0;
}

.stack:hover {
    z-index: 999;
}

.lobby-left-block button {
    background-color: #99d5f4;
}

.lobby-right-block button {
    background-color: #9cb6e8;
}

button.loginButton {
    width: 300px;
    font-size: 30pt;
    height: 70px;
    text-align: center;
    font-family: sans-serif;
}

#rooms>div {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    height: 600px;
    text-align: center;
}

.room-element {
    width: 100%;
    border-bottom: 1px solid black;
    display: block;
    font-family: sans-serif;
    color: black;
    font-size: 30px;
}
