/* Здесь будут базовые(для компютеров) стили */

* {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
#game-map {
  display: table;
  width: 800px;
  height: 400px;
}
#game-map, tr, td {
  border-collapse: collapse;
}
td img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

td {
  position: relative;
}

#content {
  display: block;
  width: 1150px;
  margin: 0 auto;
}

#main {
  margin-top: 1em;
  display: block;
  width: 1150px;
  height: 400px;
}

#map {
  display: inline-block;
  width: 800px;
  height: 400px;
}

#trackers {
  vertical-align: top;
  align-content: center;
  height: 400px;
  display: inline-block;
}

#kill-tracker #bomb-tracker #clock {
  margin-block: 1em;
  display: block;
  width: 120px;
}

#kill-tracker {
  height: 127px;
  width: 120px;
  background-color: #F74747;
}

#skull-icon{
  position: relative;
  top: 5px;
  margin: 0 auto;
  background-image: url("../models/tmp files/skull.png");
  background-size: contain;
  height: 66px;
  width: 66px;
  background-repeat: no-repeat;
}

#kills {
  height: 20px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-size: 55px;
}

#bomb-tracker {
  height: 127px;
  width: 120px;
  background-color: #FF743D;
  margin-top: 0.5em;
}

#bomb-icon{
  position: relative;
  background-size: contain;
  margin: 0 auto;
  top: 5px;
  left: 0px;
  height: 66px;
  width: 66px;
  background-image: url("../models/tmp files/bomb_icon.png");
}

#hp-bomb {
  height: 40px;
  text-align: center;
  font-style: normal;
  font-size: 55px;
}

#clock {
  margin-top: 0.5em;
  background-color: #FFE7AF;
  height: 130px;
}

#pic-clock {
  position: relative;
  background-size: contain;
  margin: 0 auto;
  top: 5px;
  left: 0px;
  height: 66px;
  width: 66px;
  background-image: url("../models/tmp files/clock.png");
}

#timer {
  height: 40px;
  text-align: center;
  font-style: normal;
  font-size: 48px;
}

#kills, #hp-bomb, #timer, #hand-counter{
  font-family: sans-serif;
}

#chat {
  display: inline-block;
  width: 220px;
  height: 400px;

  background-color: #BBECED;
}

#footer {
  display: block;
  margin-top: 0.5em;
  width: 1150px;
  height: 200px;
}

#hand {
  display: inline-block;
  background-color: #004777;
  width: 60px;
  height: 200px;
}

#hand-counter{
  height: 40px;
  text-align: center;
  font-style: normal;
  font-size: 70px;
  position: relative;
  top: 55px;
}

#card-field {
  vertical-align: top;
  display: inline-block;
  background-image: url("../models/card_field_texture.png");
  background-size: 30%;
  background-color: #2F9915;
  height: 200px;
  width: 900px;
  z-index: 1;
  /* #A30000; */
}

#user-icon {
  vertical-align: top;
  z-index: 2;
  display: inline-block;
  background-image: url("../models/tmp files/platform.svg");
  width: 66px;
  height: 66px;
}

#number-1-icon, #number-2-icon, #number-3-icon, #number-4-icon, #number-5-icon, #number-6-icon{
  /* vertical-align: bottom; */
  position: absolute;
  left: 35px;
  bottom: -25px;
  width: 50px;
  height: 50px;
  z-index: 6;

}

#number-1-icon{
  background-image: url("../models/numbers/one_number.svg");
}

#number-2-icon{
  background-image: url("../models/numbers/two_number.svg");
}

#number-3-icon{
  background-image: url("../models/numbers/three_number.svg");
}

#number-4-icon{
  background-image: url("../models/numbers/four_number.svg");
}

#number-5-icon{
  background-image: url("../models/numbers/five_number.svg");
}

#number-6-icon{
  background-image: url("../models/numbers/six_number.svg");
}

#card-1, #card-2, #card-3, #card-4, #card-5, #card-6 {
  display: inline-block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 0 10 10;
  /* rgba(255, 119, 00, 0.5); */
  /* margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 90%; */
  height: 200px;
  width: 125px;
  z-index: 2;
  /* #FF7700; */
}

/* #card-6 {
  margin-right: 0.5em;
}

#card-1-1, #card-2-1, #card-3-1, #card-4-1, #card-5-1, #card-6-1 {
  position: relative;
  float: top;
  height: 80%;
  background-color: gold;
}

#card-1-2, #card-2-2, #card-3-2, #card-4-2, #card-5-2, #card-6-2 {
  position: relative;
  float: top;
  bottom: 70%;
  height: 80%;
  background-color: orangered;
}

#card-1-3, #card-2-3, #card-3-3, #card-4-3, #card-5-3, #card-6-3 {
  position: relative;
  float: top;
  bottom: 140%;
  height: 80%;
  background-color: darkorange;
}

#x-card {
  background-color: goldenrod;
}

#xxx-card {
  height: 140px;
  width: 70%;
  background-color: yellow;
  margin: 10%;
  margin-left: 15%;
} */

#footer_footer{
  height:20px;
  width:1150px;
  background-color: #2CEAA3;
}

#lobby, #welcome, #room {
  width: 80%;
  height: 80%;
  text-align: center;
  padding: 0;
  border: 3px double black;
  border-radius: 10px;
  color: antiquewhite;
  background-color: aquamarine;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#welcome {
  display: none;
}

#x-welcome {
  margin-top: 17%;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  height: 60%;
  color: orangered;
}

#welcome-play {
  background-color: gold;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 5%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 10%;
  height: 30%;
  text-align: center;
  font-size: 230%;
}

#lobby {
  display: none;
}

#room {
  display: none;
}

#game-map tbody tr {
  position: relative;
}

#choose-board {
  visibility: hidden;
  top: -500px;
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 1100px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(2,3,4,0.5)
}

.round-cards {
  margin-top: 2em;
  margin-left: 0.33em;
  display: inline-block;
  width: 104px;
  height: 124px;
}

.round-cards img {
  width: 100%;
}

.ok-choose {
  visibility: hidden;
  position: relative;
  margin: 0 auto;
  top: 25px;
  right: 51.8%;
  width: 50px;
  height: 25px;
  text-align: center;
  background-color: #1d9e15;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  border: 1px solid #2bea3b;
  border-radius: 7px;
  color: #eff515;
}
