* {
  margin: 0;
  text-align: left;
  padding: 0;
  white-space: nowrap;
  user-select: none;
  -webkit-user-drag: none;
}

#game-map {
  display: table;
  width: 800px;
  height: 400px;
  overflow: hidden;
  border-radius: 12px;
}

#game-map, tr, td {
  border-collapse: collapse;
}

td img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

td {
  position: relative;
}

#content {
  display: block;
  width: 1150px;
  margin: 0 auto;
  /* align-content: center; */
  text-align: center;
}

#left-block{
  margin-top: 1em;
  display: inline-block;
  width: 930px;
  /* height: 400px; */
}

#main {
  /* margin-top: 1em;
  display: block;
  width: 930px;
  height: 400px; */
}

#map {
  position: relative;
  display: inline-block;
  width: 800px;
  height: 400px;
}

#trackers {
  vertical-align: top;
  align-content: center;
  height: 400px;
  /* border-radius: 12px; */
  display: inline-block;
}

#kill-tracker #bomb-tracker #clock {
  margin-block: 1em;
  display: block;
  width: 120px;
}

#kill-tracker {
  height: 127px;
  width: 120px;
  background-color: #ec3c3c;
}

#skull-icon{
  position: relative;
  top: 5px;
  margin: 0 auto;
  background-image: url("../src/models/tmp files/skull.png");
  background-size: contain;
  height: 66px;
  width: 66px;
  background-repeat: no-repeat;
}

#kills {
  height: 20px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-size: 55px;
}

#bomb-tracker {
  height: 127px;
  width: 120px;
  background-color: #FF743D;
  margin-top: 0.5em;
}

#bomb-icon{
  position: relative;
  background-size: contain;
  margin: 0 auto;
  top: 5px;
  left: 0px;
  height: 66px;
  width: 66px;
  background-image: url("../src/models/tmp files/bomb_icon.png");
}

#hp-bomb {
  height: 40px;
  text-align: center;
  font-style: normal;
  font-size: 55px;
}

#clock {
  margin-top: 0.5em;
  background-color: #FFE7AF;
  height: 130px;
}

#pic-clock {
  position: relative;
  background-size: contain;
  margin: 0 auto;
  top: 5px;
  left: 0px;
  height: 66px;
  width: 66px;
  background-image: url("../src/models/tmp files/clock.png");
}

#timer {
  height: 40px;
  text-align: center;
  font-style: normal;
  font-size: 48px;
}

#kills, #hp-bomb, #timer, #hand-counter{
  font-family: sans-serif;
}

/* #chat {
  display: inline-block;
  width: 220px;
  height: 400px;
  background-color: #BBECED;
} */

#hand-content{
  margin-top: 1em;
  position: absolute;
  display: inline-block;
  height: 596px;
  width: 220px;
}


#footer {
  display: block;
  margin-top: 0.5em;
  width: 1150px;
  height: 200px;
}

#hand {
  /* display: inline-block;
  background-color: #004777;
  width: 60px;
  height: 200px; */
}

#hand-counter{
  text-align: center;
  font-size: 50px;
  position: absolute;
  bottom: -15px;
  color: #5f535e;
  width: 100%;
}

#hand-board{
  display: flex;
  position: absolute;
  justify-content: space-around;
  width: 220px;
  height: 550px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.hand-card{
  display: block;
  width: 100%;

}

#current-card {
  visibility: hidden;
  position: relative;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(2,3,4,0.5);
  top: -41px;
  width: 120px;
}

#card-field {
  vertical-align: top;
  display: inline-block;
  background-image: url("../src/models/card_field_texture.png");
  background-size: 30%;
  background-color: #53a25e;
  height: 184px;
  width: 900px;
  border-radius: 12px;
  z-index: 1;
  /* #A30000; */
}

#user-icon {
  vertical-align: top;
  z-index: 2;
  display: inline-block;
  background-image: url("../src/models/tmp files/platform.svg");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
}

.number-1-icon, .number-2-icon, .number-3-icon, .number-4-icon, .number-5-icon, .number-6-icon{
  /* vertical-align: bottom; */
  position: absolute;
  left: 35px;
  bottom: -25px;
  width: 50px;
  height: 50px;
  z-index: 6;

}

.number-1-icon{
  background-image: url("../src/models/numbers/one_number.svg");
}

.number-2-icon{
  background-image: url("../src/models/numbers/two_number.svg");
}

.number-3-icon{
  background-image: url("../src/models/numbers/three_number.svg");
}

.number-4-icon{
  background-image: url("../src/models/numbers/four_number.svg");
}

.number-5-icon{
  background-image: url("../src/models/numbers/five_number.svg");
}

.number-6-icon{
  background-image: url("../src/models/numbers/six_number.svg");
}

.stack {
  display: inline-block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 1px;
  height: 182px;
  width: 125px;
  z-index: 2;
}

.down-card {
  position: relative;
  float: top;
}

.middle-card {
  position: relative;
  float: top;
  bottom: 74%;
}

.top-card {
  position: relative;
  float: top;
  bottom: 148%;
}

.down-card img {
  height: 85%;
}

.middle-card img {
  height: 85%;
}

.top-card img {
  height: 85%;
}

/* #card-6 {
  margin-right: 0.5em;
}
#card-1-1, #card-2-1, #card-3-1, #card-4-1, #card-5-1, #card-6-1 {
  position: relative;
  float: top;
  height: 80%;
  background-color: gold;
}
#card-1-2, #card-2-2, #card-3-2, #card-4-2, #card-5-2, #card-6-2 {
  position: relative;
  float: top;
  bottom: 70%;
  height: 80%;
  background-color: orangered;
}
#card-1-3, #card-2-3, #card-3-3, #card-4-3, #card-5-3, #card-6-3 {
  position: relative;
  float: top;
  bottom: 140%;
  height: 80%;
  background-color: darkorange;
}
#x-card {
  background-color: goldenrod;
}
#xxx-card {
  height: 140px;
  width: 70%;
  background-color: yellow;
  margin: 10%;
  margin-left: 15%;
} */

#footer_footer{
  height:20px;
  width:1150px;
  background-color: #2CEAA3;
  border-radius: 12px  0 12px 12px;
}

#lobby, #welcome, #room {
  width: 80%;
  height: 80%;
  text-align: center;
  padding: 0;
  border: 3px double black;
  border-radius: 10px;
  color: antiquewhite;
  background-color: aquamarine;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#welcome {
  display: none;
}

#x-welcome {
  margin-top: 17%;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  height: 60%;
  color: orangered;
}

#welcome-play {
  background-color: gold;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 5%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 10%;
  height: 30%;
  text-align: center;
  font-size: 230%;
}

#lobby {
  display: none;
}

#room {
  display: none;
}

#game-map tbody tr {
  position: relative;
}

#choose-board,  #message{
  display: none;
  align-self: center;
  top: -650px;
  position: relative;
  margin: 0 auto;
  border-radius: 12px;
  background-color: rgba(2,3,4,0.5);
  z-index: 12;
  box-shadow: 0 0 24px 30px rgba(0,0,0,0.5);
}

#message {
  font-size: 130pt;
  color: white;
  text-align: center;
}

.desk-card {

}

.round-cards {
  margin-top: 2em;
  margin-left: 0.33em;
  display: inline-block;
  width: 104px;
  height: 124px;
}

.round-cards img {
  width: 100%;
  /* box-shadow: 0 0 24px 30px rgba(0,0,0,0.5); */
  /* z-index: 2; */
}

.ok-choose {
  /* display: none; */
  /* visibility: hidden; */
  display: block;
  position: relative;
  text-align: center;
  background-color: #ffffff00;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 15pt;
  border: 1px solid #91e696;
  border-radius: 10px;
  color: #60ea7f;
  padding: 1px 10px;
  margin: 10px auto 0px auto;
  cursor: pointer;
}

.noActive{
  
color: #5f8468;
  
border: 1px solid #606d61;
  
cursor: auto;
}

.desk-card {
}

.desk button {}

#win-or-defeat{
  position: absolute;
  display: none;
  margin: 0 auto;
  /* visibility: hidden; */
  width: 100%;
  height: 100%;
  background-color: rgba(2,3,4,0.5);
  top: 0px;
  left: 0px;
  z-index: 11;
}
div#hand-content, #footer_footer {
    background-color: #b7ead7;
}
div#trackers > div {
    border-radius: 12px;
}